.carousel-image {
  height: 500px;
  width: 70%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card {
  width: 18rem;
}

.card img {
  height: 200px;
  object-fit: cover;
}

footer {
  text-align: center;
}