@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.carousel-image {
  height: 500px;
  width: 70%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card {
  width: 200px;
  max-width: 200px;
  height: 350px;
  max-height: 350px;
  overflow: hidden;
}

.card-title {
  font-size: 14px;
  /* line-height: 0; */
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card #price-before {
  font-size: 12px;
}

.card #price {
  font-size: 14px;
}

footer {
  text-align: center;
}

body {
  font-family: "Lexend", sans-serif;
}